.ant-card {
  background-color: var(--card-background) !important;
  color: var(--card-font) !important;
  border: 1px solid var(--card-border) !important;
}


.ant-card-body {
  font-size: 16px;
}

.ant-progress .ant-progress-text {
  color: var(--card-font) !important;
}

.ant-card-head-title {
  color: var(--card-font) !important;
}

.ant-table-thead>tr>th {
  background-color: var(--card-background) !important;
  color: var(--card-font) !important;
  font-size: 16px;
}

.ant-table table {
  background-color: var(--card-background) !important;
  color: var(--card-font) !important;
}

.ant-table-tbody>tr.ant-table-row:hover>td {
  background-color: var(--background-main) !important;
}

.ant-menu-item {
  display: flex !important;
  align-items: center;
}

.ant-menu-submenu-title {
  display: flex !important;
  align-items: center;
}

/* 菜单样式 */
.ant-menu-item {
  color: var(--font-primary) !important;

  &:hover {
    color: rgb(255, 208, 75) !important;
  }
}

.ant-menu-item:active {
  background-color: var(--font-highlight) !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--font-highlight) !important;
  color: rgb(255, 208, 75) !important;

  >span {
    >a {
      background-color: var(--font-highlight);
    }
  }

  >a {
    background-color: var(--font-highlight);
  }
}

.ant-menu-item-selected,
.ant-menu-item-selected:hover {
  color: rgb(255, 208, 75) !important;
}

/* 多级菜单样式 */

.ant-menu-submenu-expand-icon,
.ant-menu-submenu-arrow {
  color: #909399 !important;
}

.ant-menu-submenu>.ant-menu {
  background-color: var(--background-aside);
}

.ant-menu-submenu-title {
  >span {
    margin-left: 10px;
    color: var(--font-primary) !important;
  }

  &:hover {
    color: #fff !important;
  }

  &:active {
    background-color: var(--font-highlight) !important;
  }
}

.ant-menu-submenu-selected {
  color: #fff !important;

  &:hover {
    color: #fff !important;
  }
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none !important;
}

.menuIcon {
  width: 18px;
  height: 18px;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  text-align: center;

  &:hover {
    color: #66b1ff;
  }
}